.article {
  display: grid;
  max-width: 900px;
  border: solid black 2px;
  border-radius: 15px;
  padding: 20px;
  grid-template-areas:
    "topic author"
    "title title"
    "img img"
    "body body"
    "votes-comments date";
}

#article-title {
  text-align: left;
  grid-area: title;
}

#article-topic {
  text-align: left;
  grid-area: topic;
}

#article-author {
  text-align: right;
  grid-area: author;
}

#article-img {
  grid-area: img;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#article-body {
  text-align: left;
  grid-area: body;
}

#article-votes-comments {
  display: flex;
  border: solid black 2px;
  justify-content: space-between;
  grid-area: votes-comments;
}

#article-date {
  grid-area: date;
}

.hidden{
  display: none;
}

.comments-pagination{
  border-top: solid cadetblue 1px;
  padding: 15px;
}

.comments-section{
  background-color:rgb(201, 229, 230);
  border-radius: 15px;
  padding: 5px;
}

.comment-card{
    border: solid cadetblue 2px;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    margin-top: 15px;
}